

   <mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" [(ngModel)]="username" name="usernema">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" [(ngModel)]="passworD" name="password">
    </mat-form-field>
  </p>

  <div class="button">
    <button mat-raised-button color="primary" (click)="loginFn()">Login</button>
  </div>

</form>
</mat-card-content>
</mat-card>