/* You can add global styles to this file, and also import other style files */
@import "./variables.css";
*{
    font-family: 'Poppins', sans-serif !important;
}

html, body { height: 100%; }
body { margin: 0;
    
 }
